<main>
	<h2>Handmade, Fresh, Daily!</h2>

		<!-- <<<< START THE LOOP TO DISPLAY EACH DONUT >>>> -->
		{{#each donuts}}

			<div class="donut-container">

				<!-- <<<< DONUT IMAGE HERE >>>> -->
				<img src="{{img}}" alt="its a fucking donut">

				<h3><a href="/{{id}}">{{name}}</a></h3>

				<p>${{price}}.00 each </p>
				<p>{{qty}} remaining!</p>
			</div>

		<!-- <<<< END THE LOOP >>>> -->
		{{/each}}

	<h3><a href="/new">Make New Donut?</a></h3>	
</main>
</body>
</html>
