<main>

		<h2>You are viewing:
			{{donut.name}}
		</h2>

		<a href="/">Return to Home Page</a>

		<div class="donut-container-show">
			<h2 id="donut-name">
					{{donut.name}}
			</h2>

			<img src="{{donut.img}}" alt="another donut, chocolate or something">

			<br>
			<h3>Description:</h3>
				<p>
					{{donut.description}}
				</p><br>
			<h3>Price:</h3>
				<p id="cost">
					${{donut.price}}.00 each
				</p>
				<br>
				<h3 id="quantity">
		 				{{donut.qty}} remaining, hurry!
				</h3>

				<br>

				<a href="/{{donut.id}}/edit">Edit Donut Listing</a>

				<form action="/{{donut.id}}/{{user.id}}/buy?_method=PUT" method="post">
					<input type="submit" value="Buy">
				</form>

				<!-- <<<< BONUS: BUTTON THAT UPDATES THE COUNT >>>> -->
				<form action="/{{donut.id}}?_method=DELETE" method="post">
					<input type="submit" value="Delete This Donut">
				</form>
		</div>

			<!-- <<<< BUTTON THAT DELETED THE DONUT >>>> -->
	</main>
</body>
</html>
