<div class="row">
  <div class="col-lg-12">
    <h1>{{pokemon.length}} Pokemon Listed</h1>
    <br>
  </div>
  <div class="col-lg-12">
    <ul class="list-group">
      {{#each pokemon}}
        <a href="/pokemon/{{id}}" class="list-group-item justify-content-between">
          {{id}} {{name}}
          <img src="{{img}}">
          <span class="badge badge-default">
            <form action="/pokemon/{{@index}}?_method=DELETE" method="post">
              <input type="submit" Value="x">
            </form>
          </span>
        </a>
      {{/each}}
    </ul>
  </div>
</div>
