<div class="page-header">
  <h2>{{pirate.name}}</h2>
  <br>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4>Name: {{pirate.name}}</h4>
    <h4>Birthplace: {{pirate.birthplace}}</h4>
    <h4>Year of Death: {{pirate.death_year}}</h4>
    <h4>Pirate Base: {{pirate.base}}</h4>
    <h4>Nickname: {{pirate.nickname}}</h4>
  </div>
</div>
